@import '../../styles.scss';

.card {
  width: 420px;
  //height: 460px;
  background-color: $white;
}
.card_image {
  width: 420px;
  height: 300px;
  background: no-repeat center/100%;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}
.card_image:hover::after {
  opacity: 1;
}

.card_image::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $transparent_black;
  opacity: 0;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}

.card_image:hover {
  background: no-repeat center/105%;
}

.card_image__name {
  margin: 20px;
  position: absolute;
  color: $white;
}

.card_content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.card_content__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card_content__name {
  font-weight: bold;
  margin-bottom: 10px;
}

.card_author {
  padding: 20px;
  display: flex;
  align-items: center;
  border-top: 1px dashed gray;
}

.card_author__image {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-right: 10px;
}
.card_author__text {
  //font-weight: bold;
}
.card_author__text span {
  font-weight: bold;
  color: #2077d3;
  cursor: pointer;
}

.card_author__text span:hover {
  text-decoration: underline;
}
