@import '../../styles.scss';

.header {
  height: 70px;
  display: flex;
  border-bottom: 1px solid $grey;
}

.header_left {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 0 23px;
  cursor: pointer;
  border-right: 1px solid $grey;
}

.header_right {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-right: 1px solid $grey;
}

.header_centre {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.header__button_close {
  width: 100px;
  height: 70px;
  background-color: $black;
  cursor: pointer;
  border: 0;
  padding: 0;
  position: relative;
}
.header__button_close:hover {
  opacity: 0.75;
}

.header__button_close::after,
.header__button_close::before {
  content: '';
  position: absolute;
  top: 33px;
  right: 37px;
  width: 20px;
  height: 3px;
  background: $white;
}

.header__button_close::after {
  transform: rotate(45deg);
}

.header__button_close::before {
  transform: rotate(-45deg);
}

.header_centre__search {
  display: flex;
  flex: 1;
  padding: 0 20px;
}

.search-icon {
  width: 13px;
}
.header_centre__input {
  display: flex;
  flex: 1;
  height: 100%;
  padding-left: 10px;
  border: 0;
  background-color: transparent;
  font-size: 13px;
  outline: none;
}

.header_centre__logo {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
}

.header_centre__auth {
  display: flex;
  height: fit-content;
  padding: 0 20px;
  border: 0;
  background-color: transparent;
  font-size: 13px;
  align-self: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}
.header_centre__auth:hover {
  color: rgba(0, 0, 0, 1);
}
