$black: black;
$blue: rgb(40, 28, 225);
$light_blue: rgb(98, 87, 255);
$rose: #604fad;
$white: white;
$red: rgb(218, 3, 32);
$yellow: rgb(214, 228, 25);
$transparent_black: rgba(0, 0, 0, 0.35);
$dark_red: rgb(104, 0, 0);
$hover_red: rgb(168, 11, 11);
$green: rgb(31, 122, 31);
$light_grey: #f4f7f6;
$grey: #e6eaea;

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $light_grey;
}
section {
  padding: 50px 50px 50px 50px;
  min-height: calc(100vh - 91px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, max-content));
  justify-content: center;
  gap: 20px;
}
p {
  margin: 0;
}
